@font-face 
{
    font-family: 'Architekt-regular';
    src: url(assets/fonts/NBArchitektStd/NBArchitektStd-Light.otf);
}

@font-face {
    font-family: 'NB-regular';
    src: url(assets/fonts/NBArchitektStd/NB\ International\ Regular.otf);
}

@font-face {
    font-family: 'NB-bold';
    src: url(assets/fonts/NBArchitektStd/NBArchitektStd-Bold.otf);
}

*
{
    font-family: 'Architekt-regular', sans-serif;
}

::-webkit-scrollbar
{ 
    display: none; 
}

body
{ 
    -ms-overflow-style: none;  
    scrollbar-width: none;
    background-color: black;
}

.no-scroll 
{
    overflow: hidden;
    height: 100%;
}

.navbar
{
    background-color: none;
    background: none;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    animation: LoadIn 3s;
}

.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 1.5em;
}

@keyframes blink 
{
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.navbar a:hover:after 
{
    content: '';
    display: inline-block;
    width: 8px; 
    height: 1em; 
    background-color: white; 
    animation: blink 1s step-end infinite;
    position: absolute;
    right: 5px; 
    bottom: 0; 
    margin-left: 5px;
}

.navbar a 
{
    overflow: visible;
    position: relative;
    padding-right: 20px; 
}


.link-aboutme
{
    color: aliceblue;
    font-size: 1.1em;
}

.link-projects
{
    color: aliceblue;
    font-size: 1.1em;
}

.link-contact
{
    color: aliceblue;
    font-size: 1.1em;
}

#to-top 
{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: black;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999; 
}

.arrow-to-top 
{
    font-size: 2em;
    color: aliceblue;
    padding-top: 0.2em;
}

.main-image
{
    position:absolute;
    max-width:40%;
    margin-top: 3%;
    padding-left: 50%;
}

.overlay-text
{
    position: absolute;
    object-fit: cover;
    animation: LoadIn 3s;
    margin-top: 55vh;
    padding-left: 3em;
    margin-bottom: -10em;
}

.name 
{
    color: aliceblue;
    font-size: 6em;
}

.typing
{
    background: -webkit-linear-gradient(aliceblue ,gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -1.7em;
    font-size: 2.5em;
}

.gray-white-theme
{
    background: -webkit-linear-gradient(aliceblue ,gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.icons
{
    margin-top: -2em;
}

.linkedin
{
    color: aliceblue;
    font-size: 50px;
    margin-right: 0.5em;
    transition: 0.3s;
}

.linkedin:hover
{
    color: #0077b5;
}

.github
{
    color: aliceblue;
    font-size: 50px;
    margin-right: 0.5em;
    transition: 0.3s;
}

.github:hover
{
    transition: 0.3s;
    color: rgb(126, 117, 117);
}

.dribble
{
    color: aliceblue;
    font-size: 50px;
    margin-right: 0.5em;
    transition: 0.3s;
}

.dribble:hover
{
    transition: 0.3s;
    color: orange;
}

.youtube
{
    color: aliceblue;
    font-size: 50px;
    margin-right: 0.5em;
    transition: 0.3s;
}

.youtube:hover
{
    transition: 0.3s;
    color: red;
}

a:link 
{
    text-decoration: none;
}

a:visited 
{
    text-decoration: none;
}

.separate-title
{
    padding: 27em;
    box-sizing: border-box;
    box-shadow: transparent;
    color: transparent;
}

.about-section
{
    margin-bottom: -1em;
}

.about-title
{
    color: aliceblue;
    padding-top: 3.5em;
    display: flex;
    justify-content: center;
    margin-bottom: 0.3em;
    font-size: 5em;
    position: relative;
}

.about-para
{
    color: aliceblue;
    font-size: 1.8em;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 2.5em;
    text-align: center;
}

.separate-title2
{
    padding: 10em;
    box-sizing: border-box;
    box-shadow: transparent;
    color: transparent;
}

.sl-border
{
    position: relative;
    padding-bottom: 2em;
}

.sl-border::before 
{
    content: '';
    display: block;
    height: 1px; 
    background-color: #ffffff;
    width: calc(100vw - 10vw);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.sl-border::after {
    content: '> SOLAR ATLAS';
    position: absolute;
    top: 12px; 
    left: 5vw;
    font-size: 1.3em;
    color: aliceblue;
}

.sl-video
{
    position: absolute;
    margin-left: 8vw;
    margin-top: 7em;
    width: 40%;
    height: 42%;
}

.sl-text1
{
    color: aliceblue;
    text-align: left;
    font-size: 2.1em;
    padding-left: 50vw;
}

.sl-text2
{
    position: absolute;
    padding-top: 27px;
    color: aliceblue;
    text-align: left;
    font-size: 2.1em;
    padding-left: 5vw;

}

.sl-image
{
    position: absolute;
    margin-top: 70px;
    margin-left: 60em;
    width: 35vw;
    height: auto;
}

.quasar
{
    padding-top: 40em;
}

.quasar-border
{
    position: relative;
    padding-bottom: 5em;
}

.quasar-border::before 
{
    content: '';
    display: block;
    height: 1px; 
    background-color: #ffffff;
    width: calc(100vw - 10vw);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.quasar-border::after {
    content: '> QUASAR CHATBOT';
    position: absolute;
    top: 12px; 
    left: 5vw;
    font-size: 1.3em;
    color: aliceblue;
}

.quasar-text1
{
    color: aliceblue;
    text-align: left;
    font-size: 2.1em;
    padding-left: 5vw;
}

.link-quasar 
{
    position: absolute;
    text-align: left;
    font-size: 2.8em;
    margin-left: 65vw;
    margin-top: 4.3em;
    font-family: 'NB-bold', sans-serif;
    background: linear-gradient(65deg, #8782F0, #558EF6, #5DC9F7, #DBE3EF, #5C63EB, #0C3EBB, #6A66E1);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 10s linear infinite;
}

@keyframes rainbow-animation 
{
    0% { background-position: 100% 0; }
    50% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}

.separate-title3
{
    padding: 10em;
    box-sizing: border-box;
    box-shadow: transparent;
    color: transparent;
}

.contact-title
{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0.3em;
    font-size: 5em;
    position: relative;
}

.contact-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

form
{
    display: flex;
    flex-direction: column;
    padding: 3vw 5vw;
    border-radius: 0px;
    width: 60%;
    max-width: 900px;
}

.app-form-group 
{
    margin-bottom: 15px;
}
  
.app-form-group.message 
{
    margin-top: 40px;
}
  
.app-form-group.buttons 
{
    margin-bottom: 0;
    text-align: right;
}

.app-form-control 
{
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid aliceblue;
    color: #ddd;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}
  
.app-form-control::placeholder 
{
    color: #aeaeae;
}
  
.app-form-control:focus 
{
    border-bottom-color: #ddd;
}
  
.app-form-button 
{
    padding: 15px 20px;
    background: none;
    border: none;
    color: ghostwhite;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
  
.app-form-button:hover 
{
    color: white;
}

.contact-info
{
    color: aliceblue;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;      
}

@media only screen and (max-width: 1400px) /* iPAD AIR LAYING*/
{
    #to-top 
    {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 55px;
        height: 55px;
        border-radius: 40%;
        background: black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9999; 
    }

    .sl-text1
    {
        font-size: 2em;
    }

    .sl-text2
    {
        position: absolute;
        padding-top: 11em;
        color: aliceblue;
        text-align: left;
        font-size: 2em;
        padding-left: 5vw;

    }

    .sl-image
    {
        position: absolute;
        margin-top: 0px;
        margin-left: 20em;
        width: 50vw;
        height: auto;
    }

    .separate-title3
    {
        padding-top: 35em;
    }

    .contact-info
    {
        font-size: 1.2em;
    }

    .quasar
    {
        margin-top: 13em;
        margin-bottom: -5em;
    }

    .link-quasar
    {
        margin-top: 10em;
        margin-left: 30vw;
    }

}

@media only screen and (max-width: 1050px) /* iPAD AIR STANDING*/
{
    #to-top 
    {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 55px;
        height: 55px;
        border-radius: 40%;
        background: black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9999; 
    }

    .main-image
    {
        padding-top: 10em;
        max-width: 50%;
        padding-left: 20em;
        width: 40vw;
        height: auto;
    }

    .sl-text1
    {
        font-size: 2em;
    }

    .sl-text2
    {
        position: absolute;
        padding-top: 10em;
        color: aliceblue;
        text-align: left;
        font-size: 2em;
        padding-left: 5vw;

    }

    .sl-image
    {
        position: absolute;
        margin-top: 0px;
        margin-left: 0vw;
        width: 40vw;
        height: auto;
    }

    .separate-title3
    {
        padding-top: 30em;
    }

    .contact-info
    {
        font-size: 1.2em;
    }

}

@media only screen and (max-width: 950px) /* iPHONE LAYING*/
{
    #to-top 
    {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 55px;
        height: 55px;
        border-radius: 40%;
        background: black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9999; 
    }

    .name 
    {
        color: aliceblue;
        font-size: 4em;
    }

    .navbar ul li 
    {
        margin: 1em;
    }

    .separate-title
    {
        padding: 0em;
        padding-bottom: 28em;
    }

    .main-image
    {
        position:absolute;
        padding-top: 5%;
        display: flex;
        padding-left: 35em;
    }

    .about-title
    {
        color: aliceblue;
        padding-top: 3.5em;
        display: flex;
        justify-content: center;
        margin-bottom: 0.3em;
        font-size: 2.3em;
        position: relative;
    }

    .about-para
    {
        color: aliceblue;
        font-size: 1.2em;
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 3em;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .separate-title2
    {
        padding: 0em;
        padding-bottom: 2em;
    }

    .sl-video
    {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 80%;
        height: 60%;
    }

    .sl-text1
    {
        padding-left: 1em;
        margin-top: 25em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1em;
    }

    .sl-image
    {
        width: 60%;
        height: auto;
        margin-top: 2em;
        margin-left: 2em;
        max-width: 100%;
    }

    .sl-text2
    {
        margin-top: 13em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1em;
    }

    .separate-title3
    {
        padding: 0em;
        padding-bottom: 40em;
    }

    .contact-title
    {
        color: aliceblue;
        margin-left: 0em;
        margin-bottom: 0.3em;
        font-size: 2em;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .contact-info
    {
        color: aliceblue;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    }
}

@media only screen and (max-width: 850px) /* iPAD MINI*/
{
    #to-top 
    {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 55px;
        height: 55px;
        border-radius: 40%;
        background: black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9999; 
    }

    .name 
    {
        color: aliceblue;
        font-size: 4em;
    }

    .navbar ul li 
    {
        margin: 1em;
    }

    .separate-title
    {
        padding: 0em;
        padding-bottom: 45em;
    }

    .main-image
    {
        position:absolute;
        padding-top: 5%;
        display: flex;
        justify-content: center;
        padding-top: 5em;
        padding-left: 15em;
    }

    .about-title
    {
        color: aliceblue;
        padding-top: 3.5em;
        display: flex;
        justify-content: center;
        margin-bottom: 0.3em;
        font-size: 2.3em;
        position: relative;
    }

    .about-para
    {
        color: aliceblue;
        font-size: 1.2em;
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 3em;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .separate-title2
    {
        padding: 0em;
        padding-bottom: 2em;
    }

    .sl-video
    {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 50%;
        height: 30%;
    }

    .sl-text1
    {
        padding-left: 1em;
        margin-top: 25em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1.2em;
    }

    .sl-image
    {
        width: 50%;
        height: auto;
        margin-top: 2em;
        margin-left: 2em;
        max-width: 100%;
    }

    .sl-text2
    {
        margin-top: 15em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1.2sem;
    }

    .separate-title3
    {
        padding: 0em;
        padding-bottom: 40em;
    }

    .contact-title
    {
        color: aliceblue;
        margin-left: 0em;
        margin-bottom: 0.3em;
        font-size: 2em;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .contact-info
    {
        color: aliceblue;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    }
}

@media only screen and (max-width: 450px) /* iPHONE STANDING*/
{
    #to-top 
    {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 55px;
        height: 55px;
        border-radius: 40%;
        background: black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9999; 
    }

    #welcome-screen {
        display: none !important;
    }

    .name 
    {
        color: aliceblue;
        font-size: 4em;
    }

    .navbar ul li 
    {
        margin: 1em;
    }

    .separate-title
    {
        padding: 0em;
        padding-bottom: 50em;
    }

    .main-image
    {
        position:absolute;
        padding-top: 45%;
        display: flex;
        justify-content: left;
        padding-left: 5em;
    }

    .about-title
    {
        color: aliceblue;
        padding-top: 3.5em;
        display: flex;
        justify-content: center;
        margin-bottom: 0.3em;
        font-size: 2.3em;
        position: relative;
    }

    .about-para
    {
        color: aliceblue;
        font-size: 1.2em;
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 3em;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .separate-title2
    {
        padding: 0em;
        padding-bottom: 5em;
    }

    .sl-video
    {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 80%;
        height: 40%;
    }

    .sl-text1
    {
        padding-left: 1em;
        margin-top: 30em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1em;
    }

    .sl-image
    {
        width: 70%;
        height: auto;
        margin-top: 2em;
        margin-left: 2em;
        max-width: 100%;
    }

    .sl-text2
    {
        margin-top: 11em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1em;
    }

    .separate-title3
    {
        padding: 0em;
        padding-bottom: 38em;
    }

    .contact-title
    {
        color: aliceblue;
        margin-left: 0em;
        margin-bottom: 0.3em;
        font-size: 2em;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .contact-info
    {
        color: aliceblue;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    }
}

@media only screen and (max-width: 412px) /* iPHONE STANDING*/
{
    #to-top 
    {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 55px;
        height: 55px;
        border-radius: 40%;
        background: black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9999; 
    }

    #welcome-screen {
        display: none !important;
    }

    .name 
    {
        color: aliceblue;
        font-size: 4em;
    }

    .navbar ul li 
    {
        margin: 1em;
    }

    .separate-title
    {
        padding: 0em;
        padding-bottom: 50em;
    }

    .main-image
    {
        position:absolute;
        padding-top: 45%;
        display: flex;
        justify-content: left;
        padding-left: 5em;
    }

    .about-title
    {
        color: aliceblue;
        padding-top: 3.5em;
        display: flex;
        justify-content: center;
        margin-bottom: 0.3em;
        font-size: 2.3em;
        position: relative;
    }

    .about-para
    {
        color: aliceblue;
        font-size: 1.2em;
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 3em;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .separate-title2
    {
        padding: 0em;
        padding-bottom: 5em;
    }

    .sl-video
    {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 80%;
        height: 40%;
    }

    .sl-text1
    {
        padding-left: 1em;
        margin-top: 30em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1em;
    }

    .sl-image
    {
        width: 70%;
        height: auto;
        margin-top: 2em;
        margin-left: 2em;
        max-width: 100%;
    }

    .sl-text2
    {
        margin-top: 11em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1em;
    }

    .separate-title3
    {
        padding: 0em;
        padding-bottom: 39em;
    }

    .contact-title
    {
        color: aliceblue;
        margin-left: 0em;
        margin-bottom: 0.3em;
        font-size: 2em;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .contact-info
    {
        color: aliceblue;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    }
}

@media only screen and (max-width: 380px) /* iPHONE (SMALL) STANDING*/
{
    #to-top 
    {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 55px;
        height: 55px;
        border-radius: 40%;
        background: black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9999; 
    }

    #welcome-screen {
        display: none !important;
    }

    .name 
    {
        color: aliceblue;
        font-size: 3em;
    }

    .linkedin
    {
        color: aliceblue;
        font-size: 30px;
        margin-right: 0.5em;
        transition: 0.3s;
    }

    .github
    {
        color: aliceblue;
        font-size: 30px;
        margin-right: 0.5em;
        transition: 0.3s;
    }

    .dribble
    {
        color: aliceblue;
        font-size: 30px;
        margin-right: 0.5em;
        transition: 0.3s;
    }

    .youtube
    {
        color: aliceblue;
        font-size: 30px;
        margin-right: 0.5em;
        transition: 0.3s;
    }

    .navbar ul li 
    {
        margin: 1em;
    }

    .separate-title
    {
        padding: 0em;
        padding-bottom: 30em;
    }

    .main-image
    {
        position:absolute;
        padding-top: 45%;
        display: flex;
        justify-content: left;
        padding-left: 5em;
    }

    .about-title
    {
        color: aliceblue;
        padding-top: 3.5em;
        display: flex;
        justify-content: center;
        margin-bottom: 0.3em;
        font-size: 2.3em;
        position: relative;
    }

    .about-para
    {
        color: aliceblue;
        font-size: 1.2em;
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 3em;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .separate-title2
    {
        padding: 0em;
        padding-bottom: 5em;
    }

    .sl-video
    {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 80%;
        height: 40%;
    }

    .sl-text1
    {
        padding-left: 1em;
        margin-top: 30em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1em;
    }

    .sl-image
    {
        width: 70%;
        height: auto;
        margin-top: 2em;
        margin-left: 2em;
        max-width: 100%;
    }

    .sl-text2
    {
        margin-top: 11em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 1em;
    }

    .separate-title3
    {
        padding: 0em;
        padding-bottom: 38em;
    }

    .contact-title
    {
        color: aliceblue;
        margin-left: 0em;
        margin-bottom: 0.3em;
        font-size: 2em;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .contact-info
    {
        color: aliceblue;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    }
}

@media only screen and (max-width: 280px) /* iPHONE (SMALL) STANDING*/
{
    #to-top 
    {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 55px;
        height: 55px;
        border-radius: 40%;
        background: black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9999; 
    }

    #welcome-screen {
        display: none !important;
    }

    .name 
    {
        color: aliceblue;
        font-size: 3em;

    }

    .linkedin
    {
        color: aliceblue;
        font-size: 20px;
        margin-right: 0.5em;
        transition: 0.3s;
    }

    .github
    {
        color: aliceblue;
        font-size: 20px;
        margin-right: 0.5em;
        transition: 0.3s;
    }

    .dribble
    {
        color: aliceblue;
        font-size: 20px;
        margin-right: 0.5em;
        transition: 0.3s;
    }

    .youtube
    {
        color: aliceblue;
        font-size: 20px;
        margin-right: 0.5em;
        transition: 0.3s;
    }

    .navbar ul li 
    {
        font-size: 0.8em;
        margin: 1em;
    }

    .separate-title
    {
        padding: 0em;
        padding-bottom: 30em;
    }

    .main-image
    {
        position:absolute;
        padding-top: 45%;
        display: flex;
        justify-content: left;
        padding-left: 5em;
    }

    .about-title
    {
        color: aliceblue;
        padding-top: 3.5em;
        display: flex;
        justify-content: center;
        margin-bottom: 0.3em;
        font-size: 2.3em;
        position: relative;
    }

    .about-para
    {
        color: aliceblue;
        font-size: 1.2em;
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 3em;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .separate-title2
    {
        padding: 0em;
        padding-bottom: 5em;
    }

    .sl-video
    {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 80%;
        height: 40%;
    }

    .sl-text1
    {
        padding-left: 1em;
        margin-top: 30em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 0.8em;
    }

    .sl-image
    {
        width: 70%;
        height: auto;
        margin-top: 2em;
        margin-left: 2em;
        max-width: 100%;
    }

    .sl-text2
    {
        margin-top: 11em;
        display: flex;
        justify-content: left;
        color: aliceblue;
        text-align: left;
        font-size: 0.8em;
    }

    .separate-title3
    {
        padding: 0em;
        padding-bottom: 35em;
    }

    .contact-title
    {
        color: aliceblue;
        margin-left: 0em;
        margin-bottom: 0.3em;
        font-size: 2em;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .contact-info
    {
        color: aliceblue;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    }
}

.welcome-screen 
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: aliceblue;
    opacity: 1;
    z-index: 1000;
    animation: fadeOut 1s ease forwards;
    animation-delay: 1.5s;
}

@keyframes LoadIn
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes fadeOut 
{
    to {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

